[submodule "Git&Github/git-practice"]
	path = Git&Github/git-practice
	url = git@github.com:sasivan177/git-practice.git
[submodule "Git&Github/DGA/my-exciting-project"]
	path = Git&Github/DGA/my-exciting-project
	url = git@github.com:sasivan177/my-exciting-project.git
