[submodule "Git&Github/git-practice"]
	path = Git&Github/git-practice
	url = git@github.com:sasivan177/git-practice.git
[submodule "Git&Github/DGA/Assignment 1"]
	path = Git&Github/DGA/Assignment 1
	url = git@github.com:sasivan177/DGA-Git-GiHub-Assignment-1.git
